argh==0.26.2
httplib2==0.13.1
Markdown==3.1.1
pandoc-plantuml-filter==0.1.2
pandoc-plantuml-latex==0.2.1
pandocfilters==1.4.2
pathtools==0.1.2
plantuml==0.2.1
plantuml-markdown==3.1.3
PyYAML==5.4
watchdog==0.9.0
